.navigation__checkbox {
  display: none;
}

.navigation__button {
  background-color: #fff;
  height: 4rem;
  width: 4rem;
  position: fixed;
  top: 3rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
}
@media only screen and (max-width: 56.25em) {
  .navigation__button {
    height: 2.5rem;
    width: 2.5rem;
    top: 4rem;
    right: 4rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .navigation__button {
    top: 2rem;
    right: 3rem;
  }
}

.navigation__icon {
  position: relative;
  /* margin-top: -3.5rem; */
}
.navigation__icon,
.navigation__icon::before,
.navigation__icon::after {
  /* width: 1px;
    height: 1px; */
  background-color: #333;
  display: inline-block;
}
.navigation__icon::before,
.navigation__icon::after {
  content: "";
  /* position: absolute; */
  /* left: 0; */
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
/* .navigation__icon::before {
    top: -0.8rem;
  }
  .navigation__icon::after {
    top: 0.8rem;
  } */

.navigation__background {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  position: fixed;
  top: 3rem;
  right: 6rem;
  /* background-image: radial-gradient(#00014e, #140028); */
  /* background: rgb(3,0,0); */
  background-image: linear-gradient(
    15deg,
    rgba(3, 0, 0, 1) 0%,
    rgba(158, 0, 0, 1) 36%,
    rgba(10, 0, 0, 1) 65%,
    rgba(232, 0, 0, 1) 100%
  );
  z-index: 1000;
  -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1),
    -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}

.navigation__nav {
  background: rgb(3, 0, 0);
  background: linear-gradient(
    15deg,
    rgba(3, 0, 0, 1) 0%,
    rgba(158, 0, 0, 1) 36%,
    rgba(10, 0, 0, 1) 65%,
    rgba(232, 0, 0, 1) 100%
  );
  /* background: rgb(3, 0, 0);
  background: linear-gradient(
    22deg,
    rgba(3, 0, 0, 1) 10%,
    rgba(232, 0, 0, 0.9613095238095238) 100%
  ); */
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  -webkit-transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
}
.navigation__item {
  margin: 1rem;
}
.navigation__link:link,
.navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(
    120deg,
    transparent 0%,
    transparent 50%,
    #fff 50%
  );
  background-size: 220%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.navigation__link:link span,
.navigation__link:visited span {
  margin-right: 1.5rem;
  display: inline-block;
}
.navigation__link:hover,
.navigation__link:active {
  background-position: 100%;
  color: rgb(0, 1, 21);
  -webkit-transform: translateX(1rem);
  transform: translateX(1rem);
}
.navigation__checkbox:checked ~ .navigation__background {
  -webkit-transform: scale(80);
  transform: scale(80);
}
.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
}
.navigation__icon {
  position: relative;
  margin-top: 3.5rem;
}
.navigation__icon,
.navigation__icon::before,
.navigation__icon::after {
  width: 3rem;
  height: 2px;
  background-color: #333;
  display: inline-block;
}
.navigation__icon::before,
.navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.navigation__icon::before {
  top: -0.8rem;
}
.navigation__icon::after {
  top: 0.8rem;
}
.navigation__button:hover .navigation__icon::before {
  top: -1rem;
}
.navigation__button:hover .navigation__icon::after {
  top: 1rem;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

@media only screen and (max-width: 56.25em) {
  .navigation__background {
    height: 2.5rem;
    width: 2.5rem;
    top: 4rem;
    right: 4rem;
  }

  .navigation__link:link,
  .navigation__link:visited {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .navigation__background {
    top: 2rem;
    right: 3rem;
  }

  .navigation__link:link,
  .navigation__link:visited {
    font-size: 1.5rem;
  }
}
